body {
	background-color: #CB4042;
	color: #fff4c5;
}

#channel-title {
	font-size: 40px;
	font-family: 'tot-shizukasmudgemin-stdn';
}

#channel-blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1px;
}

#channel-blocks img, video, li {
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
}