@font-face {
font-family: 'MadouFuto';
src: url('../fonts/MadouFutoMaruGothic-d9Xo7.ttf')
}

@font-face {
	font-family: 'BestTen';
	src: url('../fonts/BestTen-CRT.otf')
	}

@font-face {
	font-family: 'HomeVideo';
	src: url('../fonts/HomeVideo-BLG6G.ttf')
	}

@font-face {
	font-family: 'Matrixtype';
	src: url('../fonts/MatrixtypeDisplay-9MyE5.ttf')
	}

body {
	background-color: #171717;
	overflow: hidden;
}

.page.container {
	width: 100%;
	min-width: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.machine-container {
	position: relative;
	width: 100%;
	height: 80vh;
	z-index: 10;
}

.background-image {
	top: 0;
	left: 0;
	position: absolute;
	background-image: url('../assets/vending-machine.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.button-grid {
	position: absolute;
	top: 34.8%;
	left: 21%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 62.5px;
	grid-column-gap: 4px;
	width: 20%;
	height: 20%;
	z-index: 100;
}

.vending-button {
	z-index: 100;
	background: #1a1a1a;
	cursor: pointer;
	transition: all 0.3 ease;
	min-height: 7px;
	min-width: 26px;
	font-weight: bold;
	animation: blink 1.5s infinite;
}


.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	height: 70%;
	z-index: 200;
}

.modal-content {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	margin: 5% auto;
	padding: 50px;
	width: 70%;
	height: 70%;
	overflow-y: auto;
	border-radius: 12px;
	padding-top: 50px;
	font-size: 15px;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
	background: none;
	border: none;
	color: #fff;
}


.modal.active {
	display: block;
}

#channel-blocks {
	display: none;
}

h3 {
	font-size: 30px;
	font-family:'Teko';
}

.hidden {
	display: none;
}


/* animation */

@keyframes blink {
	0% { background: #1a1a1a;}
	50% { background-color: #ff0000;}
	100% {background-color: #1a1a1a;}
}

.vending-button:nth-child(1) { animation-delay: 0s;}
.vending-button:nth-child(2) { animation-delay: 0.5s;}
.vending-button:nth-child(3) { animation-delay: 1s;}
.vending-button:nth-child(4) { animation-delay: 1.5s;}
.vending-button:nth-child(5) { animation-delay: 2s;}
.vending-button:nth-child(6) { animation-delay: 2.5s;}
.vending-button:nth-child(7) { animation-delay: 3s;}
.vending-button:nth-child(8) { animation-delay: 3.5s;}
.vending-button:nth-child(9) { animation-delay: 0.5s;}
.vending-button:nth-child(10) { animation-delay: 1s;}
.vending-button:nth-child(11) { animation-delay: 1.5s;}
.vending-button:nth-child(12) { animation-delay: 2s;}
.vending-button:nth-child(13) { animation-delay: 2.5s;}
.vending-button:nth-child(14) { animation-delay: 3s;}
.vending-button:nth-child(15) { animation-delay: 3.5s;}
.vending-button:nth-child(16) { animation-delay: 4s;}
.vending-button:nth-child(17) { animation-delay: 1.5s;}
.vending-button:nth-child(18) { animation-delay: 2s;}
.vending-button:nth-child(19) { animation-delay: 2.5s;}
.vending-button:nth-child(20) { animation-delay: 3s;}
.vending-button:nth-child(21) { animation-delay: 3.5s;}
.vending-button:nth-child(22) { animation-delay: 4s;}
.vending-button:nth-child(23) { animation-delay: 4.5s;}
.vending-button:nth-child(24) { animation-delay: 5s;}


.title-section {
	width: 100%;
	padding: 0 20px;
	position: relative;
	z-index: 20;
	margin-top: -10vh;
	box-sizing: border-box;
}

.title-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0;
}

#channel-title { 
	font-size: 70px;
	font-family: 'MadouFuto';
	margin-left: 20px;
}

#channel-link {
	font-size: 30px;
	font-family: 'MadouFuto';
	text-transform: uppercase;
}


/* Media Queries */
/* Desktop Media Query */
@media(min-width: 1200px) {

	.background-image {
		top: 0;
		left: 0;
		position: absolute;
		background-image: url('../assets/vending-machine.svg');
		background-size: 40%;
		background-position: right 5% top -40%;
		background-repeat: no-repeat;
		z-index: 1;
		width: 100%;
		height: 100vh;
	}
	
	.machine-container {
		position: relative;
		width: 100%;
		height: 100vh;
		z-index: 100;
	}
	
	.button-grid {
		position: absolute;
		top: 33.7%;
		left: 70%;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-row-gap: 106px;
		grid-column-gap: 12px;
		width: 20%;
		height: 20%;
		z-index: 100;
	}
	
	.vending-button {
		z-index: 100;
		background: #1a1a1a;
		cursor: pointer;
		transition: all 0.3 ease;
		min-height: 9px;
		min-width: 40px;
		font-weight: bold;
		animation: blink 1.5s infinite;
	}
	
	.modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 70%;
		height: 70%;
		z-index: 200;
	}
	
	.modal-content {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		position: relative;
		background-color: rgba(0, 0, 0, 0.9);
		color: #fff;
		margin: 5% auto;
		padding: 50px;
		width: 70%;
		height: 70%;
		overflow-y: auto;
		border-radius: 12px;
		padding-top: 50px;
		font-size: 15px;
	}
	
	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 24px;
		cursor: pointer;
		background: none;
		border: none;
		color: #fff;
	}
	
	.modal.active {
		display: block;
	}
	
	#channel-blocks {
		display: none;
	}
	
	h3 {
		font-size: 30px;
		font-family:'Teko';
	}

	#channel-title { 
		font-size: 180px;
		font-family: 'HomeVideo';
		margin-left: 20px;
		color: #fff;
		word-break: break-word;
		overflow-wrap: break-word;
		text-transform: uppercase;
		-webkit-text-stroke: 2px #1A1A1A;
	}

	#channel-title2 { 
		font-size: 90px;
		font-family: 'BestTen';
		margin-left: 20px;
		align-items: end;
		color: #fff;
		word-break: break-word;
		overflow-wrap: break-word;
		text-transform: uppercase;
		-webkit-text-stroke: 0.5px #1A1A1A;
	}
	
	#channel-link {
		font-size: 30px;
		font-family: 'MadouFuto';
		text-transform: uppercase;
		text-align: left;
	}

	.title-section {
		margin-top: 40;
		position: relative;
		top: 10%;
		left: 50%;
		transform: translate(-53%, -120%);
		z-index: 2;
	}
}

