:root {
	/* color */
	--background-color: #232323;
	--text-color: #fff;
	--red-color: #ff0000;
	--modal-background: rgb(0, 0, 0, 0.9);

	/* fonts */
	--primary-font: 'MadouFuto';
	--secondary-font: 'BestTen';
	--title-font: 'HomeVideo';
	--heading-font: 'Teko';
}

::selection {
	background-color: var(--red-color); 
	color: var(--background-color);
}

/* typefaces */
@font-face {
font-family: 'MadouFuto';
src: url('../fonts/MadouFutoMaruGothic-d9Xo7.ttf')
}

@font-face {
	font-family: 'BestTen';
	src: url('../fonts/BestTen-CRT.otf')
	}

@font-face {
	font-family: 'HomeVideo';
	src: url('../fonts/HomeVideo-BLG6G.ttf')
	}

@font-face {
	font-family: 'Matrixtype';
	src: url('../fonts/MatrixtypeDisplay-9MyE5.ttf')
	}

body {
	background-color: var(--background-color);
	overflow-x: hidden;
	overflow-y: auto;
}

h2 {
	color: var(--text-color);
	margin-top: 20px;
	margin-bottom: -10px;
	font-family: var(--primary-font);
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 30px;
	font-family: var(--heading-font);
}

.hidden {
	display: none;
}

/* container  */
.page-container {
	width: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.title-section {
	width: 100%;
	padding: 0 20px;
	position: relative;
	z-index: 20;
	margin-top: 45px;
	box-sizing: border-box;
	text-align: center;
}

.title-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0;
}

#channel-title { 
	font-size: 45px;
	font-family: var(--primary-font);
	text-transform: uppercase;
	max-width: 100%;
	margin: 0 auto;
	color: var(--text-color);
}

#channel-title2 {
	font-size: 38px;
	font-family: var(--secondary-font);
	color: var(--text-color);
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

#channel-title3 {
	font-size: 20px;
	font-family: var(--secondary-font);
	color: var(--text-color);
	text-align: right;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 24px;
	margin-bottom: 30px;
}

#channel-link {
	font-size: 30px;
	font-family: var(--primary-font);
	text-transform: uppercase;
}

.machine-container {
	position: relative;
	width: 85%;
	top: 30;
	margin: 0 auto;
	background-image: url('../assets/vending-machine.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 0.76/1;
	z-index: 10;
}

.button-position-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.button-grid {
	position: absolute;
	top: 16.5%;
	left: 4%;
	width: 20%;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(3, 1fr);
	row-gap: 270%;
	column-gap: 6%;
	z-index: 100;
}

.vending-button {
	z-index: 100;
	background: var(--background-color);
	transition: all 0.3 ease;
	height: 7px;
	width: 18px;
	font-weight: bold;
	animation: blink 1.5s infinite;
}


.modal {
	display: none;
	position: fixed;
	top: 20;
	left: 0;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 200;
}

.modal.active {
	display: flex;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--primary-font);
	position: relative;
	background-color: var(--modal-background);
	color: var(--text-color);
	margin: 5% auto;
	padding: 50px;
	width: 75%;
	height: 67%;
	overflow-y: auto;
	padding: 35;
	font-size: 15px;
	animation: dropin 0.5s ease-in-out;
}

.modal-content.secondrow-modal {
	width: 45%;
}

.modal-body audio::-webkit-media-controls-panel {
	background-color: var(--red-color);
}

.modal-content::-webkit-scrollbar {
	width: 6px;
	background-color: var(--text-color);
}

.modal-content::-webkit-scrollbar-thumb {
	background-color: var(--red-color);
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	background: none;
	border: none;
	color: var(--text-color);
}

.modal-body h3 {
	font-family: var(--primary-font);
	font-size: 25px;
	margin-bottom: 20px;
}

.modal-body p {
	font-family: var(--primary-font);
	font-size: 15px;
	margin-top: 30px;
	line-height: 1.25;
}

.modal-body iframe {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

.modal-body audio {
	width: 100%;
	height: 50px;
	margin: 20px 0;
}

#channel-blocks {
	display: none;
}


/* animation */

@keyframes blink {
	0% { background: var(--background-color);}
	50% { background-color: var(--red-color);}
	100% {background-color: var(--background-color);}
}

.vending-button:nth-child(1) { animation-delay: 0s;}
.vending-button:nth-child(2) { animation-delay: 0.5s;}
.vending-button:nth-child(3) { animation-delay: 1s;}
.vending-button:nth-child(4) { animation-delay: 1.5s;}
.vending-button:nth-child(5) { animation-delay: 2s;}
.vending-button:nth-child(6) { animation-delay: 2.5s;}
.vending-button:nth-child(7) { animation-delay: 3s;}
.vending-button:nth-child(8) { animation-delay: 3.5s;}
.vending-button:nth-child(9) { animation-delay: 4s;}
.vending-button:nth-child(10) { animation-delay: 4.5s;}
.vending-button:nth-child(11) { animation-delay: 5s;}
.vending-button:nth-child(12) { animation-delay: 0s;}
.vending-button:nth-child(13) { animation-delay: 0.5s;}
.vending-button:nth-child(14) { animation-delay: 1s;}
.vending-button:nth-child(15) { animation-delay: 1.5s;}
.vending-button:nth-child(16) { animation-delay: 2s;}
.vending-button:nth-child(17) { animation-delay: 2.5s;}
.vending-button:nth-child(18) { animation-delay: 3s;}
.vending-button:nth-child(19) { animation-delay: 3.5s;}
.vending-button:nth-child(20) { animation-delay: 4s;}
.vending-button:nth-child(21) { animation-delay: 4.5s;}
.vending-button:nth-child(22) { animation-delay: 5s;}
.vending-button:nth-child(23) { animation-delay: 0s;}
.vending-button:nth-child(24) { animation-delay: 0.5s;}
.vending-button:nth-child(25) { animation-delay: 1s;}
.vending-button:nth-child(26) { animation-delay: 1.5s;}
.vending-button:nth-child(27) { animation-delay: 2s;}
.vending-button:nth-child(28) { animation-delay: 2.5s;}
.vending-button:nth-child(29) { animation-delay: 3s;}
.vending-button:nth-child(30) { animation-delay: 3.5s;}
.vending-button:nth-child(31) { animation-delay: 4s;}
.vending-button:nth-child(32) { animation-delay: 4.5s;}
.vending-button:nth-child(33) { animation-delay: 5s;}


/* animation-drop */
@keyframes dropin {
	0% {
		transform: translateY(-100vh) rotate(5deg);
		opacity: 0;
	}
	50% {
		transform: translateY(10vh) rotate(5deg);
		opacity: 0.7;
	}
	75% {
		transform: translateY(4vh) rotate(5.5deg);
		opacity: 0.9;
	}
	90% {
		transform: translateY(1vh) rotate(5deg);
		opacity: 1;
	}
	100% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}

.element {
	animation: dropin 1.5s ease-out forwards;
}

.info-title {
	color: var(--red-color);
	font-size: 25px;
	margin-top: 10px;
}

.info-content {
	font-size: 15px;
	padding-top: 10px;
	line-height: 1.3;
}

.info-button {
	font-family: var(--primary-font);
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: var(--red-color);
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 300;
}

.info-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 400;
	padding: 30px;
}

.info-modal.active {
	display: flex;
}

.info-modal-content {
	font-family: var(--primary-font);
	background-color: var(--modal-background);
	color: var(--text-color);
	padding: 30px;
	width: 80%;
	max-width: 300px;
	text-align: center;
}

.close-info {
	position: absolute;
	top: 185px;
	right: 75px;
	background: none;
	border: none;
	color: var(--text-color);
	font-size: 20px;
	cursor: pointer;
}


/* Media Queries */
/* Desktop Media Query */
@media(min-width: 1200px) {

	body {
		overflow: hidden;
	}
	
	h2 {
		display: none;
	}

	h3 {
		font-size: 30px;
		font-family: var(--secondary-font);
	}

	.page-container {
		display: grid;
		grid-template-columns: 55% 45%;
		align-items: center;
	}

	.title-section {
		grid-column: 1;
		width: 100%;
		text-align: left;
		transform: translate(0, -70%);
		position: relative;
		z-index: 20;
	}

	.machine-container {
		grid-column: 2;
		background-size: contain;
		background-position: right center;
		height: 110vh;
		width: 100%;
		aspect-ratio: auto;
		padding-bottom: 0;
		margin-right: 5%;
		transform: translate(-15%, 10%);
	}
	


	.button-grid {
		top: 16.4%;
		left: 16.5%;
		width: 20%;
		row-gap: 345%;
		column-gap: 4%;
	}


	
	.vending-button {
		min-height: 10px;
		min-width: 33px;
		z-index: 100;
	}


	.vending-button:hover {
		cursor: url('../assets/cursor.cur'), pointer;
	}
	
	.modal {
		width: 70%;
		height: 65%;
		z-index: 200;
		align-items: flex-start;
		justify-content: center;
		padding-top: 10vh;
	}
	
	.modal.active {
		display: flex;
	}

	.modal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.modal-content {
		width: 60%;
		height: 130%;
		overflow-y: auto;
		padding: 30;
		font-size: 15px;
		margin-left: 150px;
		margin-top: 40px;
	}
	
	.close-button {
		font-size: 24px;
		background: none;
		border: none;
		color: #fff;
	}
	
	.modal-body h3 {
		font-size: 35px;
		margin-bottom: 20px;
		text-align: center;
	}
	
	.modal-body p {
		font-size: 18px;
		margin-top: 30px;
		line-height: 1.25;
		text-align: center;
	}

	.modal-body img {
		height: 70%;
		width: 70%;
		margin: 0 auto;
	}

	.modal-body iframe {
		width: 100%;
		height: 300px;
		margin: 0 auto;
	}
	
	#channel-blocks {
		display: none;
	}

	#channel-title { 
		font-size: 160px;
		font-family: var(--title-font);
		margin-left: 10px;
		text-transform: uppercase;
		-webkit-text-stroke: 2px var(--background-color);
		text-align: left;
	}

	#channel-title2 { 
		font-size: 80px;
		margin-left: 20px;
		margin-top: 30px;
		align-items: end;
		color: #fff;
		-webkit-text-stroke: 0.5px var(--background-color);
		text-align: left;
		white-space: nowrap;
		overflow: visible;
	}

	#channel-title3 {
		font-size: 50px;
		max-width: 100%;
		margin-top: 80px;
		margin-left: -95px;
		margin-bottom: 30px;
		position: relative;
	}

	#channel-title3:hover {
		cursor: url('../assets/flag.cur'), pointer;
	}
	
	#channel-link {
		font-size: 30px;
		text-align: left;
	}

	.title-section {
		margin-top: -40vh;
		position: relative;
		text-align: left;
		z-index: 2;
		width: 50%;
	}

	.info-title {
		font-size: 35px;
		margin-top: 10px;
	}
	
	.info-content {
		font-size: 25px;
		padding-top: 40px;
		line-height: 1.3;
	}
	
	.info-button {
		top: 10px;
		right: 10px;
		font-size: 40px;
		padding: 10px;
		cursor: pointer;
		z-index: 300;
	}
	
	.info-modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		z-index: 400;
		padding: 100px;
	}
	
	.info-modal.active {
		display: flex;
	}
	
	.info-modal-content {
		font-family: var(--primary-font);
		background-color: var(--modal-background);
		color: var(--text-color);
		padding: 30px;
		text-align: center;
	}
	
	.close-info {
		position: absolute;
		top: 130px;
		right: 585px;
		background: none;
		border: none;
		color: var(--text-color);
		font-size: 20px;
		cursor: pointer;
	}

}

/* vending machine buttons */
@media (max-width: 375px) {
	.button-grid {
		top: 16.5%;
		left: 4%;
		width: 20%;
		row-gap: 270%;
		column-gap: 6%;
	}

	.vending-button {
		height: 7px;
		width: 18px;
	}
}

@media (min-width: 376px) and (max-width: 425px) {
	.button-grid {
		top: 16.5%;
		left: 4%;
		width: 20%;
		row-gap: 285%;
		column-gap: 6%;
	}

	.vending-button {
		height: 7px;
		width: 18.8px;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.button-grid {
		top: 16.5%;
		left: 4%;
		width: 20%;
		row-gap: 330%;
		column-gap: 6%;
	}

	.vending-button {
		height: 12px;
		width: 36.5px;
	}
}
 
@media (min-width: 769px) and (max-width: 1024px) {
	.button-grid {
		top: 16.5%;
		left: 4%;
		width: 20%;
		row-gap: 330%;
		column-gap: 6%;
	}

	.vending-button {
		height: 16px;
		width: 49px;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	.button-grid {
		top: 16.5%;
		left: 4%;
		width: 20%;
		row-gap: 330%;
		column-gap: 6%;
	}

	.vending-button {
		height: 16px;
		width: 49px;
	}
}

/* @media (min-width: 1200px) and (max-width: 1366px) {
	.button-grid {
		top: 16.5%;
		left: 56.5%;
		width: 20%;
		row-gap: 350%;
		column-gap: 3%;
	}

	.vending-button {
		height: 10px;
		width: 32px;
	} */

/* 
@media (min-width: 1367px) and (max-width: 1600px) {
	.button-grid {
		top: 16.5%;
		left: 58.5%;
		width: 20%;
		row-gap: 300%;
		column-gap: 3%;
	}

	.vending-button {
		height: 13px;
		width: 35px;
	}
} */


